#zotero-collections-tree .virtualized-table {
  &:not(:focus) .row.selected:not(.highlighted) {
    color: inherit;
    background: $shade-2;
  }
  
  .row {
    height: 1.666em;

    &.drop {
      background-color: highlight;
      color: highlighttext;
    }
  }
}

