.icon > svg, .icon > img {
  width: 16px;
}

.icon.twisty {
  width: 0px;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.icon-downchevron > img {
  width: 7px;
}

.icon {
  display: inline-block;
}