#zotero-items-pane {
  display: flex;
  flex-direction: column;
  min-width: 290px;
  min-height: 150px;
  
  .items-pane-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
#zotero-items-tree {
  border: 1px solid #ccc;
  background-color: -moz-field;
  overflow: hidden;
  display: flex;
  position: relative;
  flex: 1;

  .virtualized-table-header .icon {
    width: 13px;
    height: 13px;
  }
  
  .cell.primary {
    display: flex;
    align-items: center;
    
    :not(.cell-text) {
      flex-shrink: 0
    }
    
    .cell-text {
      flex-shrink: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-left: 6px;
    }
    
    .retracted {
      width: 12px;
      margin-left: 3px;
    }
    
    .tag-swatch {
      display: inline-block;
      min-width: 8px;
      min-height: 8px;
      margin-left: 3px;
      border-radius: 2px;
    }
    
    .cell-icon {
      min-width: 16px;
    }
    
    @media(min-resolution: 1.25dppx) {
      .tag-swatch {
        min-width: 16px;
        min-height: 16px;
      }
      .retracted, .tag-swatch {
        margin-left: 6px;
      }
    }
  }
  
  .cell.hasAttachment {
    flex: 0;
    min-width: 13px;
    box-sizing: content-box;
    padding: 0 8px;
  }
}

#zotero-items-column-numNotes {
	list-style-image: url(chrome://zotero/skin/treeitem-note-small.png);
}

#zotero-items-column-numNotes .treecol-icon {
	width: 12px;
}
