.tree {
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  user-select: none;
}

/* Fixes draggable item position not being centered to mouse in XUL */
.tree > div > div {
  position: relative;
}

.spacer-arrow, .spacer-twisty {
  display: inline-block;
  min-width: 8px;
}

.arrow, .twisty {
  margin-right: 0 !important;
  
  svg {
    fill: #444;
    transition: transform 0.125s ease;
    transform: rotate(-90deg);
    margin-top: -3px;
  }

  &.open svg {
    transform: rotate(0deg);
  }
}

html[dir="rtl"] .arrow, html[dir="rtl"] .twisty {
  svg, svg:dir(rtl), svg:-moz-locale-dir(rtl) {
    transform: rotate(90deg);
  }
}
