.virtualized-table {
  width: 100%;
  
  &.resizing {
    cursor: col-resize;
    .cell {
      cursor: col-resize;
    }
  }
   
  .cell {
    min-width: 10px;
    cursor: default;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: -moz-field;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}

.virtualized-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-image: linear-gradient(#fff, #f7f7f7);
  height: 1.7em;
  overflow: hidden;
 
  .column-picker {
    text-align: center;
  }
  
  .resizer {
    background: linear-gradient(#ddd, #ddd) no-repeat center/1px 100%; 
    cursor: col-resize;
    width: 5px;
    height: 4em;
    content: "\00a0";
    display: block;
    position: absolute;
    top: -1em;
    left: -5px
  }
}


.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}