.virtualized-table {
  width: 100%;

  &:focus {
    outline: none;
  }
  
  &.resizing {
    cursor: col-resize;
    .cell {
      cursor: col-resize;
    }
  }
   
  .cell {
    min-width: 10px;
    cursor: default;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 22px;
  }
}

.virtualized-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-image: linear-gradient(#fff, #fafafa);
  height: 1.7em;
  overflow: hidden;
 
  .column-picker {
    text-align: center;
  }
  
  .resizer {
    background: linear-gradient(#ddd, #ddd) no-repeat center/1px 100%; 
    cursor: col-resize;
    height: 4em;
    content: "\00a0";
    display: block;
    position: absolute;
    top: -1em;
    left: -5px;
    flex: 0 0 5px;
  }
  
  .cell {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;

    &:hover {
      background: #fff;
    }
    
    .sort-indicator {
      -moz-appearance: toolbarbutton-dropdown;
      display: block;
      position: absolute;
      right: 5px;
      transform: scale(1.25);
      
      &.ascending {
        transform: scale(1.25) rotate(180deg);
      }
    }
  }
}

.virtualized-table-body .js-window {
  background: repeating-linear-gradient(
    0deg,
    -moz-OddTreeRow,
    -moz-OddTreeRow 22px,
    -moz-EvenTreeRow 22px,
    -moz-EvenTreeRow 44px
  );
}


.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}