//
// Virtualized table
// --------------------------------------------------
.virtualized-table, .drag-image-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &:focus {
    outline: none;
  }
  
  &.resizing {
    cursor: col-resize;
    .cell {
      cursor: col-resize;
    }
  }
   
  .cell {
    min-width: 10px;
    cursor: default;
    white-space: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 22px;
    box-sizing: border-box;
    
    &.drop {
      color: $shade-0 !important;
      background: $shade-5 !important;
    }

    span.drop-before, span.drop-after {
      position: absolute;
      width: 20%;
      height: 1px;
      background-color: $shade-5;
      pointer-events: none;
    }
    span.drop-before {
      top: 0;
    }
    span.drop-after {
      bottom: -1px;
    }
    
    &.selected {
      background-color: highlight;
      color: highlighttext;
    }
  }
  
  .column-drag-marker {
    z-index: 99999;
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #ccc;
  }
}

.virtualized-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 11px);
  border-bottom: 1px solid #ccc;
  background-image: linear-gradient(#fff, #fafafa);
  height: 1.7em;
  overflow: hidden;
  border-right: 1px solid #ddd;
 
  .column-picker {
    text-align: center;
  }
 
  .cell {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;

    &:hover {
      background: #fff;
    }
    
    &.dragging {
      color: #666;
      background: #f8f8f8;
    }
     
    .resizer {
      background: linear-gradient(#ddd, #ddd) no-repeat center/1px 100%; 
      cursor: col-resize;
      height: 100%;
      content: "\00a0";
      display: block;
      position: absolute;
      left: -5px;
      min-width: 10px;
    }
    
    .label {
      margin-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.fixed-width > .label {
      margin-left: 0;
    }
    
    .sort-indicator {
      -moz-appearance: toolbarbutton-dropdown;
      display: block;
      position: absolute;
      right: 10px;
      transform: scale(1.25);
      
      &.ascending {
        transform: scale(1.25) rotate(180deg);
      }
    }
  }
}

.virtualized-table-body, .drag-image-container{
  flex: 1 0;
  
  .cell {
    padding: 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
    
    &:first-child {
      padding-left: 5px;
    }
  }
}

.virtualized-table-body .js-window {
  background: repeating-linear-gradient(
    0deg,
    -moz-OddTreeRow,
    -moz-OddTreeRow 22px,
    -moz-EvenTreeRow 22px,
    -moz-EvenTreeRow 44px
  );
}


.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}